{#
| Variable                       | Type    | Description                                                                  |
|--------------------------------|---------|------------------------------------------------------------------------------|
| component                      | object  | Contains merchant settings for fields from twilight.json `component` section |
| component.brands               | Brand[] | list of selected brands @see views/pages/brands/single.twig                  |
| position                       | int     | Sorting number start from zero                                               |
#}
<section>
    <div class="container">
        <p>this is home test component</p>
    </div>
</section>
